.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Background {
    z-index: 2;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7)
}

.CameraLarge {
    height: 90vh;
    border-radius: 25px;
    cursor: zoom-in;
    position: absolute;
    z-index: 3;
}
